<app-pantalla-espera></app-pantalla-espera>
<div class="w-100 mt-3 text-start">
  <button class="btn bg-stefanini-3 text-light m-2" (click)="volver()">
    <i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;Volver
  </button>
</div>

<br><br>

<label class="fs-22 fw-bold">
  Tareas Registradas:
</label>
<br><br>

<div class="mt-3" *ngIf="rerender">
  <label class="fs-16 text-center"
    *ngIf="tareas == null || tareas.length == 0">
    No hay tareas creadas, diríjase al módulo "Crear tarea".
  </label>

  <div *ngIf="tareas.length >= 1">
    <div class="card card-servicios m-2" *ngFor="let tarea of tareas; index as i">

      <div class="btn-flotante">

        <div class="boton-flotante">

          <button type="button" class="btn bg-stefanini-3 align-items-center justify-content-start text-light"
            matTooltip="Eliminar tarea" (click)="openModal(tarea.id)">
            <i class="fa-solid fa-trash"></i>
          </button>

        </div>

        <div class="card-body text-start">
          <label class="fs-14"><b>{{tarea.titulo}}</b></label>

          <br>
          <br>

          <label><b>Descripción:</b></label>
          <br>
          <label>
            ➔ {{tarea.descripcion}}
          </label>
          <br>

        </div>

      </div>
    </div>

    <br><br><br>
  </div>
</div>


<div class="modal fade" id="modalAlerta" aria-hidden="true" aria-labelledby="modalAlertaLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg">
      <div class="modal-header">
        <h1 class="modal-title letrabotones fs-5" id="exampleModalToggleLabel">Alerta!&nbsp;<i
            class="fa-solid fa-triangle-exclamation"></i></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>¿Está seguro que desea eliminar esta tarea?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-stefanini-2 text-light" data-bs-target="#modalAlerta" data-bs-dismiss="modal"
          data-bs-toggle="modal" aria-label="Close" (click)="eliminarTarea()">&nbsp;Si, eliminar</button>
        <button type="button" class="btn bg-stefanini-3 text-light" data-bs-target="#modalAlerta" data-bs-dismiss="modal"
          data-bs-toggle="modal" aria-label="Close">&nbsp;Cancelar</button>
      </div>
    </div>
  </div>
</div>